$width-site: 1920px;
$width-container: 1170px;
$block-color: #777;
$white-color-abs: #FFFFFF;
$white-color: #FBFBFB;
$black-color: #222222;
$black-color-4: #222224;
$grey-color: #B1B1B1;
$pink-color: #F1E4E6;
$pink-dark-color: #F16D7F;
$border-width: 1px;
$border-color: red;
$desktop-width: 1600px;
$tablet-width: 768px;
$mobile-width: 375px;

/*color: #FFFFFF;
color: #555555;
color: #000000;
color: #8C8C8C;
color: #C7B299;
color: #615855;
color: #D1D1D1;
color: #00BFF3;*/
